.helpButton{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none;	
	background-color: white;
    border: none;	
	margin-right: 0 !important;
	margin-left: auto; 
	display:block !important;
}

.mygif{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none;
	width: 60%;		
	background-color: none;
    border: none;
}

.myHidengif{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none;
	width: 60%;		
	visibility: hidden;
	background-color: none;
    border: none;
}

.myMonoFont{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none;
	color: DimGray;	
	font-family: "monospace", sans-serif;
}

.templog{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none;
	color: LightGray;
	font-family: "monospace", sans-serif;	
}

.row {
	display: table;
	border-collapse: separate;
	width: 99%;	
	vertical-align: top;
	margin-left: auto; 
	margin-right: auto;
}

.item {
	display: table-cell;
	vertical-align: top;
	margin-left: auto; 
	margin-right: auto;
}

.item img {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	display: block;
	width: 97%;
	height: auto;
	margin-left: auto; 
	margin-right: auto;
}

.myrectangle{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	letter-spacing: 4px;
	vertical-align: middle;
	text-align: center;
	font-variant: small-caps;
	color: CornflowerBlue;
    width:99%;
	margin-left: auto; 
	margin-right: auto;
    height:60px;
	line-height:60px;
    background:LightGray;
	font-family: "monospace", sans-serif;	
}

.myrectangleO{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	letter-spacing: 4px;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	font-variant: small-caps;
	color: DimGray;
    width:99%;
	margin-left: auto; 
	margin-right: auto;
    height:30px;
	line-height:30px;
    background:WhiteSmoke;
	border-width: 5px;
    border-color: White;
	border-style: solid;
	font-family: "monospace", sans-serif;	
}

.myrectangleOClicked{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	letter-spacing: 4px;
	vertical-align: middle;
	align-items: center;
	text-align: center;
	font-variant: small-caps;
	color: LightSkyBlue;
	font-weight: bold;
    width:99%;
	margin-left: auto; 
	margin-right: auto;
    height:30px;
	line-height:30px;
    background:WhiteSmoke;
	border-width: 5px;
    border-color: LightSkyBlue;
	border-style: solid;
	font-family: "monospace", sans-serif;	
}

.myrectangleClicked{
	cursor: default;	
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	letter-spacing: 4px;
	vertical-align: middle;
	text-align: center;
	font-variant: small-caps;
	color: white;
    width:99%;
	margin-left: auto; 
	margin-right: auto;
    height:60px;
	line-height:60px;
    background:LightSkyBlue;
	font-family: "monospace", sans-serif;		
}

.ImageBorder1
{
    border-width: 5px;
    border-color: White;
	border-style: solid;
}

.ImageBorder2
{
    border-width: 5px;
    border-color: White;
	border-style: solid;
}

.ImageBorder1Clicked
{
    border-width: 5px;
    border-color: LightSkyBlue;
	border-style: solid;
}

.ImageBorder2Clicked
{
    border-width: 5px;
    border-color: LightSkyBlue;
	border-style: solid;
}

#myProgress {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	width: 99%;
	background-color: MintCream;
	margin-left: auto; 
	margin-right: auto;
}

#myBar {
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 	
	-khtml-user-select: none; 	
	-moz-user-select: none; 	
	-ms-user-select: none; 		
	user-select: none; 
	width: 0%;
	height: 30px;
	background-color: LightGreen;
	text-align: center;
	line-height: 30px;
	color: white;
	font-family: "monospace", sans-serif;	
}